<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi User %></h1>
    <p>
      Thanks for placing order with JUNGLE. Your order number is <%= @order.id%>. Your total amount is $ <%= @order.total_cents*0.01%>.
    </p>
  </body>
</html>